p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 1em;
}
